#score-text,#time-left-text{
    color: #ff0000;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../images/wall.png);
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid #ffd700;
}
.menu-lives{
    display: flex;
    align-items: center;
    justify-items: center;
}
.value{
    margin-top: 1rem;
    margin-left: 6rem;
}
.panel{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.panel-row {
    display: flex;
    width: 100%;
    justify-content: center;
}
.square{
    width: 120px;
    height: 120px;
    border: 1px solid #000000;
    background-color: #ffe4c4;
}
.enemy{
    background-image: url(../images/ralph.png);
    background-size: cover;
    background-position: -20px;
    background-color: #ff0000;
}
/* Quando a tela for menor que 768px */
@media (max-width: 768px) {
    .panel {
        width: 350px;  /* Ajuste na largura para telas menores */
    }

    .square {
        width: 100px;  /* Menor tamanho para as telas médias */
        height: 100px; /* Menor tamanho para as telas médias */
    }

    .menu {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .value {
        margin-top: 1rem;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .panel {
        width: 300px;  /* Mais ajuste para telas menores */
    }

    .square {
        width: 80px;   /* Ajuste do tamanho para as telas pequenas */
        height: 80px;  /* Ajuste do tamanho para as telas pequenas */
    }

    .menu {
        padding: 5px;
    }

    .menu-lives img {
        height: 30px;
    }

    .value {
        margin-top: 1rem;
        margin-left: 0;
    }

    #score-text, #time-left-text {
        font-size: 1rem;
    }
}
